body,p,ol,ul,h1,h2,h3,h4,h5,h6,fieldset,select,input,textarea{
	margin:0;
	padding: 0;
}
html{
	font-size:26.67vw;
}
html,body{
	 width:100%;
}
a{
	text-decoration: none;
}
ul{
  list-style:none;
}

img{
	border:none;
	display:block;
}
header{
    width:100%;
    height:.49rem;
}
.headers{
    padding-left:.20rem;
}
.headers img{
    width:.12rem;
    height:.16rem;
    margin-top:.25rem;
}
/* 内容部分 */
nav{
    width:100%;
    height:2.2rem;
}
.navs{
    padding-left:.40rem;
    padding-right:.40rem;
}
.navs img{
    width:.50rem;
    height:.50rem;
}
.nav_one{
    padding-left:.40rem;

}
.nav_one h3{
    font-size:.16rem;
    display: flex;
    float:left;
    margin-top:.54rem;
    border-bottom: 1px solid #e8e8e8;

}
.nav_one input{
    padding-top:.35rem;
    outline: none;
    border:none;
   height:.40rem;
   width:2.53rem;
     border-bottom:1px solid #e8e8e8;
    font-size:.16rem;
    display: flex;
    color:#e9e8ee;
    float:left;
    text-indent:.25rem;
    
}
.nav_one  img{
    width:.10rem;
    height:.07rem;
    margin-top:.10rem;
    margin-left:.05rem;
    
}
.nav_one a span{
    font-size:.16rem;
    color:#e5e4ea;
    
}
.nav_two{
    width:100%;
    padding-top:.35rem;
}
.nav_two a{
   
    margin-left:.40rem;
    display: block;
    width:2.95rem;
    height:.45rem;
    border: 1px solid #aba9be;
    font-size:.16rem;
    text-align: center;
    line-height:.45rem;
    background: #aba9be;
    color:#cdccda;
}
.nav_two p{
    margin-left:.40rem;
    padding-top:.15rem;
    font-size:.12rem;
}
 

